
@model ICollection<CandidatoViewModel>

@{
	ViewData["Title"] = "Candidatos";
}

<h1>Candidatos</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Nuevo Candidato</a>
</p>
<p>
	<a asp-action="Edit" class="btn btn-close-white">Editar</a>
</p>

